COMPOSE_PROJECT_NAME=gestor-tickets
TZ=Atlantic/Canary

APP_PORT=18081
GLPI_PORT=18082
PGADMIN_PORT=18083
POSTGRES_HOST_PORT=15432

APP_ENV=development
APP_DEBUG=true
APP_UPLOAD_DIR=/data/uploads
APP_LOG_DIR=/data/logs

POSTGRES_DB=gestor_tickets
POSTGRES_USER=gestor_tickets
POSTGRES_PASSWORD=CAMBIAR
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://gestor_tickets:CAMBIAR@postgres:5432/gestor_tickets

PGADMIN_DEFAULT_EMAIL=admin@gestor-tickets.es
PGADMIN_DEFAULT_PASSWORD=CAMBIAR

GLPI_DB_HOST=glpi-db
GLPI_DB_PORT=3306
GLPI_DB_NAME=glpi
GLPI_DB_USER=glpi
GLPI_DB_PASSWORD=CAMBIAR
GLPI_CRONTAB_ENABLED=1
GLPI_SKIP_AUTOINSTALL=false
GLPI_SKIP_AUTOUPDATE=false

MARIADB_ROOT_PASSWORD=CAMBIAR
MARIADB_DATABASE=glpi
MARIADB_USER=glpi
MARIADB_PASSWORD=CAMBIAR
