# Proyecto
COMPOSE_PROJECT_NAME=gestor-tickets
TZ=Atlantic/Canary

# Puertos publicados solo en localhost
APP_PORT=18081
GLPI_PORT=18082
PGADMIN_PORT=18083
POSTGRES_HOST_PORT=15432

# App propia
APP_ENV=development
APP_DEBUG=true
APP_UPLOAD_DIR=/data/uploads
APP_LOG_DIR=/data/logs
PYTHONPATH=/

# Seguridad aplicación
SESSION_SECRET_KEY=cambiar_este_secreto
APP_ENCRYPTION_SECRET=cambiar_este_secreto_largo_de_cifrado

# PostgreSQL propio para FastAPI
POSTGRES_DB=gestor_tickets
POSTGRES_USER=gestor_tickets
POSTGRES_PASSWORD=cambiar_password_postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://gestor_tickets:cambiar_password_postgres@postgres:5432/gestor_tickets

# GLPI API
GLPI_BASE_URL=http://glpi
GLPI_APP_TOKEN=cambiar_app_token_glpi
GLPI_REQUIRED_PROFILE=Supervisor
GLPI_TIMEOUT_SECONDS=30

# pgAdmin4
PGADMIN_DEFAULT_EMAIL=admin@gestor-tickets.es
PGADMIN_DEFAULT_PASSWORD=cambiar_password_pgadmin

# GLPI independiente
GLPI_DB_HOST=glpi-db
GLPI_DB_PORT=3306
GLPI_DB_NAME=glpi
GLPI_DB_USER=glpi
GLPI_DB_PASSWORD=cambiar_password_glpi_db
GLPI_CRONTAB_ENABLED=1
GLPI_SKIP_AUTOINSTALL=false
GLPI_SKIP_AUTOUPDATE=false

# MariaDB propia de GLPI
MARIADB_ROOT_PASSWORD=cambiar_password_root_mariadb
MARIADB_DATABASE=glpi
MARIADB_USER=glpi
MARIADB_PASSWORD=cambiar_password_glpi_db

# Protección HTTP básica común para gestor-tickets.es y subdominios
GESTOR_HTTP_USER=TFG
GESTOR_HTTP_PASSWORD=cambiar_password_http_basic
